<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-certification-group-heading" jhiTranslate="recertificationAggregatorApp.certificationGroup.home.createOrEditLabel">Create or edit a Certification Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recertificationAggregatorApp.certificationGroup.systemName" for="field_systemName">System Name</label>
                    <input type="text" class="form-control" name="systemName" id="field_systemName"
                           formControlName="systemName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recertificationAggregatorApp.certificationGroup.accessReviewName" for="field_accessReviewName">Access Review Name</label>
                    <input type="text" class="form-control" name="accessReviewName" id="field_accessReviewName"
                           formControlName="accessReviewName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recertificationAggregatorApp.certificationGroup.create" for="field_create">Create</label>
                    <div class="d-flex">
                        <input id="field_create" type="datetime-local" class="form-control" name="create" formControlName="create" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recertificationAggregatorApp.certificationGroup.ownerName" for="field_ownerName">Owner Name</label>
                    <input type="text" class="form-control" name="ownerName" id="field_ownerName"
                           formControlName="ownerName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recertificationAggregatorApp.certificationGroup.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
