<div class="modal-header">
    <h4 class="modal-title" >Signing certification exercise</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
        </div>
        <div class="col-md-8">
			Are you sure you want to sign you recertification exercise ?
            <br />
            <br />
			<input class="btn btn-primary" type="submit" value="I sign with my blood">
			<input class="btn btn-info" type="submit" value="Cancel" (click)="activeModal.dismiss('closed')">
        </div>
    </div>
</div>
