<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-certification-action-heading" jhiTranslate="recertificationAggregatorApp.certificationAction.home.createOrEditLabel">Create or edit a Certification Action</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recertificationAggregatorApp.certificationAction.completed" for="field_completed">Completed</label>
                    <div class="d-flex">
                        <input id="field_completed" type="datetime-local" class="form-control" name="completed" formControlName="completed" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recertificationAggregatorApp.certificationAction.decision" for="field_decision">Decision</label>
                    <input type="text" class="form-control" name="decision" id="field_decision"
                           formControlName="decision"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recertificationAggregatorApp.certificationAction.action" for="field_action">Action</label>
                    <select class="form-control" id="field_action" name="action" formControlName="action">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="certificationItemOption.id === editForm.get('action').value?.id ? editForm.get('action').value : certificationItemOption" *ngFor="let certificationItemOption of certificationitems; trackBy: trackCertificationItemById">{{certificationItemOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
