<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="certificationAction">
            <h2><span jhiTranslate="recertificationAggregatorApp.certificationAction.detail.title">Certification Action</span> {{certificationAction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recertificationAggregatorApp.certificationAction.completed">Completed</span></dt>
                <dd>
                    <span>{{certificationAction.completed}}</span>
                </dd>
                <dt><span jhiTranslate="recertificationAggregatorApp.certificationAction.decision">Decision</span></dt>
                <dd>
                    <span>{{certificationAction.decision}}</span>
                </dd>
                <dt><span jhiTranslate="recertificationAggregatorApp.certificationAction.action">Action</span></dt>
                <dd>
                    <div *ngIf="certificationAction.action">
                        <a [routerLink]="['/certification-item', certificationAction.action?.id, 'view']">{{certificationAction.action?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/certification-action', certificationAction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
